<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <strong style='color: red;'><%= e %></strong>
    <br/><br/>
  <% end %>
<% end %>
<div class="card mx-auto" style="width: 20rem;">
  <div class="card-body mx-auto">
    <p class="card-text">
    <h2><%= "Create New Team" %></h2><br>
      <%= form_with( model: @team, method: :post, local: true ) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br><br>
        <%= submit_tag 'Create Team', :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </div>
</div>
