
<h1><%= @team.name %></h1>

<p><%= "Name: #{@team.name}" %></p>

<%= link_to "All teams", teams_path %>
<%#= link_to "All admins", admins_path %>

<%= button_to "Edit Team", edit_admin_path(@team), method: :get %>

<%= button_to "Delete Your Account", admin_path(@admin), method: :delete %>


<%= button_to "Create Team", new_team_path, :class => "btn btn-outline-primary", :method => :get %>
<%= button_to "Dashboard", admin_path, :class => "btn btn-outline-primary", :method => :get %>






