<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Landing</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	
	<body>
		<section class="hero is-link">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Welcome to Colab 
					</h1>
					<h2 class="subtitle">
						A project management app 
					</h2>
				</div>
			</div>
			<div class="card mx-auto" style="width: 18rem;">
				<div class="card-body">
					<p class="card-text">
                    <% if flash[:message] %>
	<p><%= flash[:message] %></p>
<% end %>

<%= form_with url: '/login' do %>
	<%= label_tag :username %>
	<%= text_field_tag :username %>

	<%= label_tag :password %>
	<%= password_field_tag :password %>

	<%= submit_tag "Sign in", :class => "btn btn-success" %>
<% end %>


						<div class="h-divider">
						</div><br>
						<div class="text-center">
							<%# <button class="btn btn-success" href="http://localhost:3000/admins/new" role ="button">Create New Account</button> %>
							<%= button_to "Create New Account", new_admin_path, :class => "btn btn-success", :method => :get %>
						</div>
					</p>
				</div>
			</div><br><br><br>
		</section>
	</body>
</html>