<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Landing</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	
	<body>
		<section class="hero is-link">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Welcome to Colab 
					</h1>
					<h2 class="subtitle">
						A project management app 
					</h2>
				</div>
			</div>
			<div class="card mx-auto" style="width: 18rem;">
				<div class="card-body">
					<p class="card-text">
						<%= form_for :sessions do |f| %>
							<% if flash.now[:alert] %>
								<div class="alert alert-danger" role="alert">
									Incorrect username or password.
								</div>
							<% end %>
							<%= "Username" %><br>
							<%= f.text_field :username, :class => 'input' %><br><br>
							<%= "Password" %><br>
							<%= f.password_field :password, :class => 'input' %><br><br>
							<%= f.submit 'Sign In', :class => 'btn btn-primary btn-block' %>
						<% end %><br>
						<div class="h-divider">
						</div><br>
						<div class="text-center">
							<%# <button class="btn btn-success" href="http://localhost:3000/admins/new" role ="button">Create New Account</button> %>
							<%= button_to "Create New Account", new_admin_path, :class => "btn btn-success", :method => :get %>
						</div>
					</p>
				</div>
			</div><br><br><br>
		</section>
	</body>
</html>