<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to Colab 
			</h1>
			<h2 class="subtitle">
				A small project management app 
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Why is Project so awesome?</h3>
					<p>This app takes the stuffiness out of project management and delivers personal stories and practical advice anyone can use to lead projects to success. You’ll learn tactical basics like estimating and planning projects, as well as how to develop soft skills like empathy and communication. It’s all designed to help you manage both people and projects more easily. If you’re looking for a personable approach to project management, this one’s for you.</p>
					<p>This application packs a lot into a surprisingly. It’s one of the most highly rated app. More than just a project management, it includes an actionable framework for achieving goals and deep thinking. If you find projects go off the rails because not enough time is spent upfront thinking through the details, this app will give you the tools to fix that.</p>
					<p>This isn't just a project management app, but a productivity system. As a project manager, you constantly juggle many things and often wear many hats. Many experienced project managers swear by the GTD method of ensuring they get what they need to get done. Getting Thing Done shows you how to organize tasks using simple lists and structures. It’s important to have a well-organized structure to put ideas immediately into and to trust the structure so you can free your mind from constant distractions.</p>
				</div>
			</div>
<% if flash.now[:alert] %>
    <div class="alert alert-danger" role="alert">
        Incorrect username or password.
    </div>
<% end %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text">
            <%= form_for :auth do |f| %>
                <%= "Username" %><br>
                <%= f.text_field :username, :class => 'input' %><br><br>
                <%= "Password" %><br>
                <%= f.password_field :password, :class => 'input' %><br><br>
                <%= f.submit 'Sign In', :class => 'btn btn-success btn-block' %>
            <% end %>
            <a><button class="btn btn-outline-success my-2 my-sm-0" href="../admin/new" type="submit">Create New Account
            </button></a>
      </p>
  </div>
</div>
			</div>
		</div>
	</div>
</section>
