
<h1><%= @admin.username %></h1>

<p><%= "Name: #{@admin.name}" %></p>

<%= link_to "All admins", admins_path %>
<%#= link_to "All admins", admins_path %>

<%= button_to "Edit Your Account", edit_admin_path(@admin), method: :get %>

<%= button_to "Delete Your Account", admin_path(@admin), method: :delete %>


<%= button_to "Create Team", new_team_path, :class => "btn btn-outline-primary", :method => :get %>
<%#= button_to "Show All Team", index_team_path, :class => "btn btn-success", :method => :get %>
<%= button_to "Create Project", new_project_path, :class => "btn btn-outline-primary", :method => :get %>
<%= button_to "Create Task", new_task_path, :class => "btn btn-outline-primary", :method => :get %>